<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ isEdit ? "Edit Product" : "Add Product" }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input [(ngModel)]="product.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-input [(ngModel)]="product.description"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Price</ion-label>
    <ion-input type="number" [(ngModel)]="product.price"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Stock</ion-label>
    <ion-input type="number" [(ngModel)]="product.stock"></ion-input>
  </ion-item>

  <ion-button
    expand="block"
    color="success"
    (click)="save()"
    style="color: black"
  >
    {{ isEdit ? "Update" : "Save" }}
  </ion-button>
</ion-content>
